@{
    ViewData["Title"] = "Dự án - Công trình";
}
@using Kendo.Mvc.UI
@model NghiaHa.CRM.Web.Models.BaseViewModel
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Dự án - Công trình</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Dự án - Công trình</a></li>
                    <li class="breadcrumb-item active"><a class="text-primary" asp-action="Index" asp-controller="Project">Danh sách</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card w-100">
                <div class="card-header">
                    <div class="row">
                        <div class='col-sm-2'>
                            @(Html.Kendo().DropDownListFor(Model => Model.YearFinance)
                     .DataValueField("Display")
                     .DataTextField("Display")
                     .HtmlAttributes(new { @class = "form-control" })
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetYearFinanceToList", "AppGlobal")))
                            )
                        </div>
                        <div class='col-sm-2'>
                            @(Html.Kendo().DropDownListFor(Model => Model.MonthFinance)
                     .DataValueField("Display")
                     .DataTextField("Display")
                     .HtmlAttributes(new { @class = "form-control" })
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetMonthFinanceToList", "AppGlobal")))
                            )
                        </div>
                        <div class='col-sm-1'>
                            <button style="width:100%;" title="Tìm kiếm" class="btn btn-success" onclick="onSearch()">
                                <span class="fas fa-search"></span>
                            </button>
                        </div>
                        <div class='col-sm-6'>

                        </div>
                        <div class='col-sm-1'>
                            <a asp-route-ID="0" asp-action="Detail" asp-controller="Project" class="btn btn-success"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                @(Html.Kendo().Grid<SOHU.Data.Models.Invoice>()
                .Name("Invoice")
                .Columns(columns =>
                {
                    columns.Command(command =>
                    {
                        command.Destroy().Text("&nbsp;").IconClass("fas fa-trash").HtmlAttributes(new { style = "color:#ffffff; background-color:#d73925; padding-top:10px; border-radius: 6px; width:50px;", @class = "btn btn-danger" });
                    }).Width(70);
                    columns.Template(@"<a href='/Project/Detail?ID=#=ID#' class='btn btn-success' style='color:white;'><i class='fas fa-edit'></i></a>").Title("").Width(70).HtmlAttributes(new { style = "text-align:center;" });
                    columns.Template(@"<a href='/Project/DetailThiCongBarcode?ID=#=ID#' class='btn btn-success' style='color:white;'><i class='fas fa-qrcode'></i></a>").Title("").Width(70).HtmlAttributes(new { style = "text-align:center;" });
                    columns.Bound(t => t.InvoiceCreated).Title("Ngày lập").Width(200).HtmlAttributes(new { style = "text-align: right;" });
                    columns.Bound(t => t.InvoiceCode).Title("Số hợp đồng").Width(200);
                    columns.Bound(t => t.InvoiceName).Title("Dự án").Width(200);
                    columns.Bound(t => t.BuyName).Title("Khách hàng").Width(500);
                    columns.Bound(t => t.BuyPhone).Title("Điện thoại").Width(200);
                    columns.Bound(t => t.Total).Title("Sau thuế").Width(200).HtmlAttributes(new { style = "text-align: right;" });
                    columns.Bound(t => t.TotalPaid).Title("Thanh toán").Width(200).HtmlAttributes(new { style = "text-align: right;" });
                    columns.Bound(t => t.TotalDebt).Title("Dư nợ").Width(200).HtmlAttributes(new { style = "text-align: right;" });                    

                })
                .ToolBar(toolBar => toolBar.Search())
                .Editable(editable => editable.Mode(GridEditMode.InLine))
                .Sortable()
                .Scrollable()
                .Reorderable(r => r.Columns(true))
                .Resizable(r => r.Columns(true))
                .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(10))
                .Excel(excel => excel
                .FileName("CauHinh.xlsx")
                .Filterable(true)
                .ProxyURL(Url.Action("ExportExcel", "Config")))
                .Pdf(pdf => pdf
                .AllPages()
                .AvoidLinks()
                .PaperSize("A4")
                .Margin("2cm", "1cm", "1cm", "1cm")
                .Landscape()
                .RepeatHeaders()
                .FileName("Config.pdf"))
                .Search(search=> {
                    search.Field(f => f.InvoiceCode);
                    search.Field(f => f.SellName);
                })
                .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(1000)
                .Model(model =>
                {
                    model.Id(t => t.ID);
                    model.Field(t => t.ID).Editable(false);
                })
                .Events(t => { t.RequestEnd("onGridRequestEnd"); })
                .Read(t => t.Action("GetByDuAnAndYearAndMonthToList", "Invoice").Data("filterInvoice"))
                .Destroy(t => t.Action("Delete", "Invoice"))
                .Update(t => t.Action("Update", "Invoice"))))
            </div>
        </div>
    </div>
</section>
@(Html.Kendo().Notification()
    .Name("Notification")
    .Position(p => p.Pinned(true).Top(30).Right(30))
    .Width(400)
)

<script>

    function onGridRequestEnd(e) {
        if ((e.type == "create") || (e.type == "update") || (e.type == "destroy")) {
            var response = e.response;
            var messageType = response.split('-')[0];
            var note = response.split('-')[1];
            var notification = $("#Notification").data("kendoNotification");
            notification.show(note, messageType);
            $("#Invoice").data("kendoGrid").dataSource.read();
        }
    }
    function onSearch() {
        $("#Invoice").data("kendoGrid").dataSource.read();
    }
    function filterInvoice(e) {
        var yearValue = $("#YearFinance").data("kendoDropDownList").value();
        var monthValue = $("#MonthFinance").data("kendoDropDownList").value();
        return { year: yearValue, month: monthValue };

    }
</script>
