@{ Layout = "~/Views/Shared/_LayoutWindowPrintPreview.cshtml";

    ViewData["Title"] = "" + Model.InvoiceCode + " - " + Model.BuyName; }


@model SOHU.Data.Models.Invoice
<div style="width:1000px; height:auto; padding:40px; margin:auto; background-color:#ffffff; background-repeat:repeat-x; background-image:url('/images/LogoBackground_1000_1390.png');">
    @Html.Raw(Model.ThanhLy)
</div>

