@{ Layout = "~/Views/Shared/_LayoutWindowPrintPreview.cshtml";
    ViewData["Title"] = "Barcode preview"; }

@model NghiaHa.CRM.Web.Models.BaseViewModel

<div style="width:480px; min-height:630px; background-color:#ffffff;">
    @Html.Raw(Model.Content)    
</div>